body {
    overflow: hidden !important;
}
.wpNyarukoTabloid {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    z-index: 16;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #FFF;
    background-color: #000;
    user-select: none;
}
.wpNyarukoTabloidPaper {
    position: relative;
    height: 100%;
    width: 100%;
}
.wpNyarukoTabloidItem {
    position: absolute;
    width: 100%;
    height: 100%;
}
.wpNyarukoTabloidItem img {
    width: 100%;
    height: auto;
    pointer-events: none;
}
.wpNyarukoTabloidItemNumBox {
    position: absolute;
    font-size: 20pt;
    width: 100px;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
    color: #FF0;
}
.wpNyarukoTabloidItemNumS {
    position: relative;
    width: 100px;
    height: 100px;
}
.wpNyarukoTabloidItemNumI {
    top: 0px;
}
.wpNyarukoTabloidItemNumO {
    top: 15px;
}
.wpNyarukoTabloidItemNumT {
    top: 30px;
}
.wpNyarukoTabloidItemTxt {
    position: absolute;
    padding-left: 90px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 60px;
}
.wpNyarukoTabloidItemImgBox {
    position: relative;
}
.wpNyarukoTabloidTriangleBox0 {
    position: fixed;
    width: 64px;
    height: 100%;
    z-index: 16;
    background-color: transparent;
}
.wpNyarukoTabloidTriangleBox1 {
    position: absolute;
    top: 0;
    width: 64px;
    height: 100%;
    background-color: transparent;
}
/* .wpNyarukoTabloidTriangleBox:hover {
    background-color: rgba(255, 255, 255, 0.5);
} */
.wpNyarukoTabloidTriangleBoxLeft {
    left: 0;
    cursor: w-resize;
}
.wpNyarukoTabloidTriangleBoxRight {
    right: 0;
    cursor: e-resize;
}
.wpNyarukoTabloidTriangle0 {
    position: fixed;
    display: block;
    top: 50%;
    top: calc(50% - 16px);
    border-right: 12px solid;
    border-bottom: 12px solid;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    z-index: 17;
}
.wpNyarukoTabloidTriangle1 {
    position: absolute;
    display: block;
    top: 50%;
    top: calc(50% - 16px);
    border-right: 12px solid;
    border-bottom: 12px solid;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
}
.wpNyarukoTabloidTriangleRight {
    right: 20px;
    transform: rotate(-45deg);
    cursor: e-resize;
}
.wpNyarukoTabloidTriangleLeft {
    left: 20px;
    transform: rotate(135deg);
    cursor: w-resize;
}
.wpNyarukoTabloidItemTxtBox {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 480px) {
    .wpNyarukoTabloidItemTxtBox {
        position: initial;
    }
    .wpNyarukoTabloid {
        overflow-y: scroll;
    }
}